{% comment %}
Usage: {% include amazon.html request="asin=XXXXX&CN=XXXXX" short="XXX" %}
{% endcomment %}
<h4><a href="http://www.amazon.cn/gp/product/{{ include.request }}?tag=ze3kr-23" target="_black">在<div class="svg-amazon" style="height:0.84em;width:3em;display:inline-block;position:relative;background-repeat:round;background-size:3em 0.84em;"></div>上购买正品</b></a></h4>
{% if include.short %}短链接：<a href="http://www.amazon.cn/gp/product/{{ include.request }}?tag=ze3kr-23" target="_black"><code>tlo.link/{{ include.short }}</code></a>{% endif %}
