<!DOCTYPE html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="Cache-Control" content="max-age=600, no-transform, public" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}{% if page.categories %}, {% for category in page.categories %}{% include translate.html name=category %}, {% endfor %}{% endif %}{{ site.title }}"/>{% elsif page.categories %}<meta name="keywords" content="{% for category in page.categories %}{% include translate.html name=category %}, {% endfor %}{{ site.title }}"/>{% else %}<meta name="keywords" content="{{ site.miantags | join: ', ' }}, {{ site.title }}"/>{% endif %}
	{% if page.type == "tag" %}<title>{{ site.title }} /{{ site.data.language.tag }}/{{ page.title }}/</title>
	{% elsif page.type == "category" %}<title>{{ site.title }} • {% include translate.html name=page.title %}</title>
	{% elsif page.type == "year" %}<title>{{ site.title }} /{{ page.date | date: "%Y" }}/</title>
	{% elsif page.type == "month" %}<title>{{ site.title }} /{{ page.date | date: "%Y/%m" }}/</title>
	{% elsif page.type == "day" %}<title>{{ site.title }} /{{ page.date | date: "%Y/%m/%d" }}/</title>
	{% elsif paginator.page and paginator.page != 1 %}<title>{{ site.title }} {{ site.data.language.page-before }} {{ paginator.page }} {{ site.data.language.page-end }}</title>
	{% else %}<title>{% if page.head_title %}{{ page.head_title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% for category in page.categories limit:1 %} • {% include translate.html name=category %}{% endfor %}{% endif %}</title>{% endif %}
	<script>
	{% if site.https %}
	if( window.location.href.substr(0,7) == "http://" ){
		window.location.href='https://'+window.location.href.substr(7);
		location.href=='https://'+window.location.href.substr(7);
		location='https://'+window.location.href.substr(7);
	}
	{% endif %}

	{% if site.mirror-domain %}
	var ua = window.navigator.userAgent.toLowerCase();
	if(ua.match(/MicroMessenger/i) == 'micromessenger'){
		if( window.location.host != '{{ site.mirror-domain }}' ){
			window.location.href="{{ page.url | prepend: site.mirror-url | replace:'index.html','' }}";
		}
	}
	else{
		if( window.location.host == '{{ site.mirror-domain }}' ){
			window.location.href="{{ page.url | prepend: site.url | replace:'index.html','' }}";
		}
	}
	{% endif %}
	</script>

	{% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification}}" />{% endif %}
	{% if site.bing_webmastertools_id %}<meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />{% endif %}
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>
	<link rel="stylesheet" href="{{ site.cdn_host }}/custom-css/ze3kr_main_0.3.0.css" />
	<link rel="stylesheet" href="{{ site.cdn_host }}/css/svg9.css" />
	<link rel="stylesheet" charset="utf-8" href="{{ site.cdnjs_host }}/ajax/libs/leaflet/0.7.3/leaflet.css" />
	<script async type="text/javascript" charset="utf-8" src="{{ site.cdnjs_host }}/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<style>
	{% if page.exif.gps %}.tlo-map{display:block!important;}{% endif %}
	#google_translate_element{display:none!important;}
	</style>

	{% if site.google_author %}<link rel="author" href="{{ site.google_author }}"/>{% endif %}

	{% include favicon %}

	<!-- Facebook Optimization -->
	<meta property="og:locale" content="{{ site.language }}" />
	{% if site.og_type %}<meta property="og:type" content="website" />{% endif %}
	{% if page.content %}<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>{% endif %}
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	{% if site.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	{% if page.image.title %}<meta property="og:image" content="{{ site.urlimg }}/{{ page.image.title }}!1x" />{% endif %}

	{% if site.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ site.alexa_verify_id }}" />{% endif %}

	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}
	{% if site.google_analytics_tracking_id %}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
	ga('set', 'anonymizeIp', true);
	ga('send', 'pageview');
	</script>
	{% endif %}
	{% if site.cnzz_analytics_tracking_id %}
	<script type="text/javascript" async src="//s11.cnzz.com/z_stat.php?id={{ site.cnzz_analytics_tracking_id }}&web_id={{ site.cnzz_analytics_tracking_id }}"></script>
	{% endif %}
</head>
