			{% if site.google_ad %}{% capture cat %}{% for category in page.categories %}{{ category }}{% endfor %}{% endcapture %}{% if cat == "article" %}
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle" style="display:block" data-ad-client="{{ site.google_ad.client }}" data-ad-slot="{{ site.google_ad.slot }}" data-ad-format="{{ site.google_ad.format }}"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			{% endif %}{% endif %}
			<div id="page-meta" class="t30">
				<p>
					<!-- Look the author details up from the site config. -->
					{% assign author = site.data.authors[page.author] %}
					<!-- Output author details if some exist. -->
					{% if author %}
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="{{ author.url }}" target="_blank"> {{ author.name }}</a></span>
				</span>
				{% endif %}

				{% if page.date %}
				<a href="{{ page.date | date: "/%Y/%m/" }}"><time class="icon-calendar pr20" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time></a>
				{% endif %}

				{% for category in page.categories %}<a href="/category/{{ category }}/"><span class="icon-archive pr20"> {% include translate.html name=category %}</span></a>{% endfor %}
				<br>
				<span class="pr20">{% for tag in page.tags %}<span class="icon-price-tag pr10"> {{tag}}</span> {% endfor %}</span>
			</p>

			<div id="post-nav" class="row">
				
				{% if page.previous.url %} 
				<div class="small-5 columns"><a class="button small radius prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a></div><!-- /.small-4.columns -->
				{% endif %}
				{% if page.next.url %} 
				<div class="small-5 columns text-right"><a class="button small radius next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a></div><!-- /.small-4.columns -->
				{% endif %} 
			</div>
			</div><!--  /.page-meta -->