{% comment %}
*  This loops through the paginated posts
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{% endcomment %}


{% for post in paginator.posts %}
  <div class="row">
	<div class="small-12 columns b30">
	  {% if post.subheadline %}<p class="subheadline"><span class="subheader">{% if post.categories %}{{ post.categories | join: ' &middot; ' }}{% endif %}</span> – {{ post.subheadline }}</p>{% endif %}
	  <h2><a href="{{ post.url }}">{% if post.file %}<div class="svg-play" style="height:1em;width:1em;display:inline-block;position:relative;top:0.1em;margin-right:0.2em;background-repeat:round;background-size:1em 1em;"></div>{% endif %}{% for category in post.categories limit:1 %}{% include translate.html name=category %} • {% endfor %}{{ post.title }}</a></h2>
	  <p style="line-height:1.4!important;">
		{% if post.exif %}<a href="{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}/{{ post.image.title }}!0.5x" srcset="{{ site.urlimg }}/{{ post.image.title }}!b 2000w, {{ site.urlimg }}/{{ post.image.title }}!2x 1600w, {{ site.urlimg }}/{{ post.image.title }}!s 1000w, {{ site.urlimg }}/{{ post.image.title }}!1.5x 1200w, {{ site.urlimg }}/{{ post.image.title }}!1x 800w, {{ site.urlimg }}/{{ post.image.title }}!0.5x 400w" class="alignleft" style="width: 100%;" alt="{{ page.title escape_once }}" sizes="(min-width: 1000px) calc( 500px - 1.875rem ), (min-width: 40.063rem) calc( 50vw - 1.875rem ), calc( 100vw - 1.875rem )"></a>
		{% elsif post.image.title %}<a href="{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}/{{ post.image.title }}!s1x" srcset="{{ site.urlimg }}/{{ post.image.title }}!s200px 200w, {{ site.urlimg }}/{{ post.image.title }}!s2x 300w, {{ site.urlimg }}/{{ post.image.title }}!s3x 450w" size="(min-width: 40.063rem) 150px, 100px" class="alignleft post-img" width="100" height="100" alt="{{ page.title escape_once }}"></a>{% endif %}
		{% if post.video-image %}<a href="{{ post.url }}" title="{{ post.title escape_once }}"><img src="{{ site.urlimg }}/{{ post.video-image }}!0.5x" srcset="{{ site.urlimg }}/{{ post.video-image }}!b 2000w, {{ site.urlimg }}/{{ post.video-image }}!2x 1600w, {{ site.urlimg }}/{{ post.video-image }}!s 1000w, {{ site.urlimg }}/{{ post.video-image }}!1.5x 1200w, {{ site.urlimg }}/{{ post.video-image }}!1x 800w, {{ site.urlimg }}/{{ post.video-image }}!0.5x 400w" class="alignleft" style="width: 100%;" alt="{{ page.title escape_once }}" sizes="(min-width: 1000px) calc( 500px - 1.875rem ), (min-width: 40.063rem) calc( 50vw - 1.875rem ), calc( 100vw - 1.875rem )"></a>{% endif %}

		{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 120 }}{% endif %}

		<a href="{{ post.url }}"><strong style="display:block;">{% if post.file %}{{ site.data.language.watch_video }}{% elsif post.exif %}{{ site.data.language.view_photo }}{% else %}{{ site.data.language.read_more }}{% endif %}</strong></a>
	  </p>
	</div><!-- /.small-12.columns -->
  </div><!-- /.row -->
{% endfor %}


<nav id="pagination">
	{% if paginator.previous_page %}
	  {% if paginator.previous_page == 1 %}
	  <a class="radius button small" href="/" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous_posts }}</a>
	  {% else %}
	  <a class="radius button small" href="{{ paginator.previous_page_path }}" title="{{ site.data.language.previous_posts }}">&laquo; {{ site.data.language.previous }}</a>
	  {% endif %}
	{% endif %}

	{% if paginator.next_page %}
	<a class="radius button small" href="{{ paginator.next_page_path }}" title="{{ site.data.language.next_posts }}">{{ site.data.language.next }} &raquo;</a>
	{% endif %}
  </nav>
