---
layout: default
archive: true
breadcrumb: true
no-comments: yes
---
<div id="blog-index" class="row">
	<div class="medium-6 medium-offset-3 columns t30">
		{% if page.type == "tag" %}<h1>/{{ site.data.language.tag }}/{{ page.title }}/</h1>{% endif %}
		{% if page.type == "category" %}<h1>{% include translate.html name=page.title %}</h1>{% endif %}
		{% if page.type == "year" %}<h1>/{{ page.date | date: "%Y" }}/</h1>{% endif %}
		{% if page.type == "month" %}<h1>/{{ page.date | date: "%Y/%m" }}/</h1>{% endif %}
		{% if page.type == "day" %}<h1>/{{ page.date | date: "%Y/%m/%d" }}/</h1>{% endif %}
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

		<dl class="accordion" data-accordion>
			{% assign counter = 1 %}
			{% for post in page.posts %}
				<dd class="accordion-navigation">
					<a href="#panel{{ counter }}"><span class="iconfont"></span> {% if post.subheadline %}{{ post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
					<div id="panel{{ counter }}" class="content">
					{% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}{% endif %}
						<a href="{{ post.url }}"><strong style="display:block;">{% if post.file %}{{ site.data.language.watch_video }}{% elsif post.exif %}{{ site.data.language.view_photo }}{% else %}{{ site.data.language.read_more }}{% endif %}</strong></a><br>
					</div>
				</dd>
				{% assign counter=counter | plus:1 %}{% endfor %}
		</dl>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
