<div class="row t30">
	{% if page.exif %}<div class="small-12 columns{% if page.sidebar == NULL %} end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">{% else %}<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">{% endif %}
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				<span itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
					{% if site.disqus %}{% if page.no-comments %}{% else %}{% if page.title %}<p class="subheadline"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">{{ site.data.language.comments }}</a></p>{% endif %}{% endif %}{% endif %}
				</span>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}/{{ page.image.title }}!800" srcset="{{ site.urlimg }}/{{ page.image.title }}!2000 2000w, {{ site.urlimg }}/{{ page.image.title }}!1400 1400w, {{ site.urlimg }}/{{ page.image.title }}!800 800w, {{ site.urlimg }}/{{ page.image.title }}!400 400w" alt="{{ page.title | escape_once }}" {% if page.exif %}sizes="(min-width: 1600px) calc( 1240px - 1.875rem ), (min-width: 1000px) calc( 1000px - 1.875rem ), calc( 100vw - 1.875rem )"{% else %}sizes="(min-width: 1600px) calc( 827px - 1.875rem ), (min-width: 1000px) calc( 667px - 1.875rem ), (min-width: 40.063rem) calc( 66.7vw - 1.875rem ), calc( 100vw - 1.875rem )"{% endif %} style="width:100%">
					{% if page.image.caption_url && page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
					{% if page.exif %}
					<figcaption class="text-left" itemprop="description">
						<div class="tlo-map tlo-map-block" style="position:absolute;z-index:100;right:0.9375rem;"></div>
						<div id="map" class="tlo-map" style="position:relative;float:right;"></div>
						<ul style="margin:0;list-style-type:none!important;" class="exif-ul">
							<span id="exif">
								<h5>{{ site.data.language.loading_exif }}</h5>
							</span>
							{% if page.exif.hdr %}<li><b>{{ site.data.language.hdr_enabled }}</b></li>{% endif %}
						</ul>
					</p>
					{% endif %}
				</figure>
				{% endif %}
			</header>

			{% if page.exif %}<div class="row">
				<div class="medium-8 medium-offset-2 end columns t30">{% endif %}
					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}

					<span itemprop="articleSection">
						{{ content }}
					</span>

					{% if page.show_meta == true %}
					{% include meta_information.html %}
					{% endif %}

					{% if page.comments == true %}
					{% include comments.html %}
					{% endif %}
				{% if page.exif %}</div><!-- /.medium-6.columns -->
			</div><!-- /.row -->{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
