<div class="row t30">
	<div class="small-12 columns">
		<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1 itemprop="name">{{ page.title }}</h1>
				{% if site.disqus %}{% if page.no-comments %}{% else %}{% if page.title %}<p class="subheadline"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">{{ site.data.language.comments }}</a></p>{% endif %}{% endif %}{% endif %}
			</header>
			{% if page.vimeo %}<iframe class="video-js" style="width:100%;background-color:#000;" src="https://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;badge=0&amp;api=1&amp;player_id=main-player" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no" id="main-player"></iframe>{% endif %}

			<div class="row">
				<div class="medium-8 medium-offset-2 end columns">

					{% if page.video.thumbnailUrl %}<meta itemprop="thumbnailUrl" content="{{ page.video.thumbnailUrl }}" />{% endif %}
					{% if page.video.contentURL %}<meta itemprop="contentURL" content="{{ page.video.contentURL }}" />{% endif %}
					{% if page.video.embedURL %}<meta itemprop="embedURL" content="{{ page.video.embedURL }}" />{% endif %}

					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}
					{{ content }}
					{% if page.vimeo %}<p>还可以在以下平台观看: <a target="_blank" href="https://vimeo.com/{{ page.vimeo }}">Vimeo</a>{% if page.youtube %} | <a target="_blank" href="https://www.youtube.com/watch?v={{ page.youtube }}">YouTube</a>{% endif %}{% if page.youku %} | <a target="_blank" href="http://v.youku.com/v_show/id_{{ page.youku }}.html">优酷</a>{% endif %}</p>{% endif %}

					{% if page.show_meta == true %}
					{% include meta_information.html %}
					{% endif %}

					{{ site.banner }}

					{% if page.comments == true %}
					{% include comments.html %}
					{% endif %}
				</div><!-- /.medium-6.columns -->
			</div><!-- /.row -->
		</article>

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
