-
    function getPostCoverImg(post) {
        const $coverImgElRegx = /<img.*?alt="\$cover".*?>/
        const firstImgElRegx = /<img[^>]+src="?([^"\s]+)".*?>/
        const coverImgElement = post.content.match(firstImgElRegx)

        if (!coverImgElement) return false

        // post.content = post.content.replace(firstImgElRegx, `<img id="__hexo_theme_cover__" src="${coverImgElement[1]}" alt=".." style="display: none;">`)

        return coverImgElement[1]
        // const coverImg = coverImgElement[0]
        // const matchImg = coverImg.match()
        // if (matchImg) {
        //     return matchImg[1]
        // }
    }
    function getSrcset(imageUrl) {
        if (
            typeof imageUrl.slice === "function" &&
            ( 
                imageUrl.slice(0, 49) === "https://imagedelivery.net/6T-behmofKYLsxlrK0l_MQ/" || 
                imageUrl.slice(0, 28) === "https://images.tloxygen.com/"
            ) &&
            (
                imageUrl.slice(-6) === "/large" ||
                imageUrl.slice(-6) === "/extra"
            )
        ) {
            const prefix = imageUrl.slice(0, -5);
            return prefix + 'max 3200w, ' +
                prefix + 'wide 2400w, ' +
                prefix + 'extra 2000w, ' +
                prefix + 'larger 1600w, ' +
                prefix + 'large 1200w, ' +
                prefix + 'medium 800w, ' +
                prefix + 'small 400w, ' +
                prefix + 'tiny 200w'
        }
        return ""
    }
    function getThumbnail(imageUrl) {
        if (
            typeof imageUrl.slice === "function" &&
            ( 
                imageUrl.slice(0, 49) === "https://imagedelivery.net/6T-behmofKYLsxlrK0l_MQ/" || 
                imageUrl.slice(0, 28) === "https://images.tloxygen.com/"
            ) &&
            (
                imageUrl.slice(-6) === "/large" ||
                imageUrl.slice(-6) === "/extra"
            )
        ) {
            return imageUrl.slice(0, -5) + 'thumbnail'
        }
        return imageUrl
    }
